.header {
    padding: 10px 0;
}
.header__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.header__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.header__title {
    font-weight: 700;
    font-size: 35px;
}
.header__ul {
    list-style-position: inside;
    margin-bottom: 30px;
        li {
            line-height: 25px;
        }
}
.main__btn {
    @include btn;
}
.header__right {
}
.header__img {
    border-radius: 5px;
    width: 100%;
}